// sidebar
$menuText:#414750;
$menuActiveText:#409EFF;
$subMenuActiveText:#409EFF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#ffffff;

$subMenuBg:#ffffff;
$subMenuHover:#ffffff;

$sideBarWidth: 260px;

$menuItemHeight: 40px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
